{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container" style="background: url(https://media.istockphoto.com/id/1495576954/photo/abstract-bokeh-background-of-colorful-glowing-lights-with-soft-focus-in-bright-sunlight.webp?b=1&s=170667a&w=0&k=20&c=4EYSf_cGFzcfxO3HIix1lJcJ13tB8U0KMHmG4EbPvu0=); background-repeat: no-repeat; background-size: cover;" >
        <br>
        <div class="row mx-0 justify-content-center ">
            <div class="col-md-8 col-lg-6 px-lg-2 col-xl-5 px-xl-0 px-xxl-4 ">
                <form method="POST" class="w-100 rounded-1 p-4 border bg-dark text-light" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary px-3 rounded-3 ">Submit</button>

                    </div>
                </form>
                <br>

            </div>
        </div>
        <br>
    </div>
    <br><br>
    {% endblock content %}