{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="7">
        <h1>General Information About VCIMS:</h1>

        <center>VCIMS stands for Vigilance Complaint Information Management System. The VCIMS portal is a platform for citizen
        to file any sort of complaint against corruption. This portal enables citizens to lodge their complaint
        alongwith substantial evidence(s) including pdf/audio/video, if any. The citizen is required to register
        himself/herself before lodging the complaint.<b>"Identity will be kept hidden and will not be revealed while
        processing of Complaint"</b>.

        Tracking of complaints status facility and the SMS alerts feature enables complainant to know updates about
        his/her grievances. Citizens are advised not to disclose their Identity in any manner while making their
        complaints. hello</center>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock content %}


